﻿@model WebApp.Models.AccountViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 style="text-align:center">Salus Nord Backend</h1>
    <h2 style="text-align:center">Velkommen @Session["Username"].ToString() (@Session["Role"].ToString())</h2>
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <h4 class="text-danger">@ViewBag.ErrorMessage</h4>
    }
</div>

