﻿
@{
    ViewBag.Title = "Upload beboere";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload beboere</h2>

@using (Html.BeginForm("Create", "Residents", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Upload beboere i en zip fil</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @ViewBag.Message

    <div class="form-group">
        @Html.Label("Upload fil", htmlAttributes: new { @class = "control-label col-md-2",  })
        <div class="col-md-10">
            @Html.TextBox("file", "", new { type = "file" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
