﻿@model WebApp.Models.ResidentViewModel

@{
    ViewBag.Title = "Beboer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Beboer: @Html.DisplayFor(model => model.Name)</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Rediger", "Edit", new { cpr = Model.CPR }) |
    @Html.ActionLink("Tilbage", "Index")
</p>
