﻿@model WebApp.Models.ContactViewModel

@{
    ViewBag.Title = "Slet kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Slet: @Html.DisplayFor(model => model.Name)</h2>

<h3>Er du sikker på, at du vil slette @Html.DisplayFor(model => model.Name)?</h3>
<div>
    <h4>Kontaktoplysninger</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Tilbage", "Index")
        </div>
    }
</div>
