﻿@model IEnumerable<WebApp.Models.ContactViewModel>

@{
    ViewBag.Title = "Kontakter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kontakter</h2>

<p>
    @Html.ActionLink("Opret ny", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayName("Kontaktgruppe")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            @using (Html.BeginForm("Index", "Contacts", FormMethod.Post))
            {
                @Html.Hidden("id", item.Id)
                @Html.Hidden("name", item.Name)
                @Html.Hidden("email", item.Email)
                @Html.Hidden("phone", item.Phone)
                <td>
                    @Html.DropDownList("groupList", null, new { @class = "form-control ", id = item.Id, onchange = "this.form.submit();" })
                    @{
                        string group = "Ingen";
                        if (item.ContactGroup != null)
                        {
                            group = item.ContactGroup.Id.ToString();
                        }
                    }

                    <script type="text/javascript">
                        (function () {

                        var id = '@item.Id';
                        var group = '@group';

                        if (group !== 'Ingen') {
                            document.getElementById(id).value = group;
                        }

                        })();
                    </script>
                </td>
            }
            <td>
                @Html.ActionLink("Rediger", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detaljer", "Details", new { id = item.Id }) |
                @Html.ActionLink("Slet", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
