﻿@model IEnumerable<WebApp.Models.ContactGroupViewModel>

@{
    ViewBag.Title = "Kontaktgrupper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kontaktgrupper</h2>

<p>
    @Html.ActionLink("Opret ny", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Rediger", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detaljer", "Details", new { id=item.Id }) |
            @Html.ActionLink("Slet", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
